[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scipy = "*"
pandas = "*"
matplotlib = "*"
seaborn = "*"
ipykernel = "*"
ipywidgets = "*"
tqdm = "*"
tensorflow = "*"
scikit-learn = "*"

[requires]
python_version = "3.11"
